/* grid architecture
**********************************/
[data-content*="row"] {
  display: flex;
  flex-wrap: wrap;
  margin: auto; padding: 2rem;
  max-width: $wview;
  &[data-content*="_full"] {
    margin: auto -1rem; padding: 0;
    max-width: inherit;
  }
  &[data-content*="row_asyme-c"] {
    justify-content: center;
  }
  &[data-content*="row_asyme-r"] {
    justify-content: flex-end;
  }
  &[data-content*="_rev"] {
    flex-direction: row-reverse;
    > [data-grid*="col"]:first-child {
      padding-right: 0;
    }
    > [data-grid*="col"]:last-child {
      padding-right: 1rem;
    }
  }
  &[data-content*="_no-gutter"] > [data-grid*="col"] {
    padding-right: 0;
  }
  > [data-grid*="col"] {
    &:last-child {
      padding-right: 0;
    }
  }
}

[data-content*="row"] > [data-grid*="col"] {
  &:last-child {
    padding-right: 0;
  }
}

$gridVals:(
  //(col/gridCalc/gridCalc2/)
  (12, 1, 0),     //12col-1-1   #{$key} == 1
  (6, 2, 0),      //6col-2-1    #{$key} == 2
  (4, 3, 0),      //4col-1-1    #{$key} == 3
  (3, 4, 0),      //3col-1-1    #{$key} == 4
  (8x4, 1.25, 5), //8/4col-1-1  #{$key} == 5
);
@each $gridVal in $gridVals {
  $key: index($gridVals, $gridVal);
  $calcGrid: 100% / #{nth($gridVal, 2)};
  $calcGrid2: 100% / #{nth($gridVal, 3)};

  [data-content*="row"] > [data-grid*="col-#{nth($gridVal, 1)}"] {
    flex-basis: $calcGrid;
    max-width: $calcGrid;
    padding-right: 1rem;

    @if $key == 5 {
      @include odd() { //80%
        flex-basis: $calcGrid;
        max-width: $calcGrid;
      }
      @include even() { //20%
        flex-basis: $calcGrid2;
        max-width: $calcGrid2;
      }
    }
    @include mq(sp) {
      &[data-grid*="_sm-col-12"] {
          flex-basis: 100%;
          max-width: 100%;
          padding-right: 0;
      }
      &[data-grid*="_sm-col-6"] {
          flex-basis: 50%;
          max-width: 50%;
      }
    }
  }
}

@include mq(sp) {
  [data-content*="row"] > [data-grid*="_sm-col-6"] {
      flex-basis: 50%;
      max-width: 50%;
  }
}
